<div id="interfaz-alquiladas">
    <div id="navbar-nueva-prenda">
        <a href="/armario/usuario/{{id_user}}" class="negro-btn-disp"><i class="fa-solid fa-arrow-right-long fa-rotate-180"></i> </a>
        <h1 id="h1-disp">Prendas <span> Alquiladas </span></h1>
    </div>
    <div id="prendas-disponibles">
        
        {{#if success_signup}}
            <div id="message-success-consulta">
                <div id="container-message-success">
                    <div id="img-message-success">
                        <img src="/img/feliz.png" alt="success">
                    </div>
                    <p>{{success_signup}}</p>
                </div>
            </div>
        {{/if}}

        <!--nombre codigo talla categoria subcategoria marca color estado esta_lavanderia requiere_reparacion-->
        {{#each prendas}}
            <div class="card-item">
                <div id="imagen-prenda-container" style="background-image: url('{{fotografia}}');">
                   
                </div>
                
                <div id="details-prenda">
                    <div id="header-card-item">
                        <b>{{nombre}}</b>
                    </div>
                    <div id="codigo-card"><b>{{codigo_prenda}}</b></div>
                    <div id="details-card">
                        <div id="categoria-card"><h5>Categoria</h5><p>{{categoria}}</p></div>
                        <div id="subcategoria-card"><h5>Subcategoria</h5><p>{{subcategoria}}</p></div>
                    </div>
                    <div id="more-details">
                        <div id="marca-card"><h5>Marca</h5><p>{{marca}}</p></div>
                        <div id="color-card"><h5>Color</h5><p>{{color}}</p></div>
                        <div id="estado-card"><h5>Estado</h5><p>{{estado}}</p></div>
                    </div>
                    <div id="talla-card"><h5>Talla</h5><p>{{talla}}</p></div>
                    <div id="actions-card">
                        <a href="/armario/usuario/{{id_usuario}}/alquiladas/reparacion/{{id_prenda}}" id="reparacion-disp">Reparacion</a>
                        <a href="/armario/usuario/{{id_usuario}}/alquiladas/lavanderia/{{id_prenda}}" id="lav-disp">Lavanderia</a>
                    </div>
                </div>
                
            </div>
        {{else}}
            <div class="no-encontrado-img-container">
                <div id="img-no-enc">
                    <img src="/img/nada.png" alt="not founded">
                </div>
                <p>No Hay</p>
            </div>
        {{/each}}
    </div>
</div>