<div id="armario">
    <div id="menu-armario">
        <ul>
            <li><a href="http://localhost:8080/signin"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a></li><!--Here i have to change URL to deploy in Render-->
        </ul>
    </div>
    <header id="armario-header">
        <nav id="armario-nav">
            <button id="menu-bars"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main id="container-profile">
        <div id="profile-info">
            <div id="img-container">
                <div id="back-img"><img src="/img/negro-logo.png" alt="img-profile"></div>
            </div>
            <b>{{nombre_usuario}}</b>
            <p>{{correo}}</p>
        </div>
    </main>
    <div id="resumen-armario">
        <i class="fa-solid fa-circle-info icon-resumen"></i>
        <h1>Resumen</h1>
        <div class="info-resumen">
            <i class="fa-solid fa-shirt"></i> <div><b>Total de prendas: </b> <p>{{totalPrendas}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-check"></i> <div><b>Disponibles para alquilar: </b> <p>{{_disponibles}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-wrench"></i> <div><b>Reparación: </b> <p>{{_necesitaReparacion}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-trash"></i> <div><b>Sucios: </b> <p>{{_sucios}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-water"></i> <div><b>Lavanderia: </b> <p>{{_lavanderia}}</p></div>
        </div>
    </div>

    <div id="registros">
        <h1>Registrar</h1>
        <div id="apartados">
            <a href="/armario/usuario/{{id_usuario}}/marca" id="marca" class="apartado"><p id="btn-marca-a">Marca</p></a>
            <!--<a href="/armario/usuario/{{id_usuario}}/talla" id="tallas" class="apartado"><p id="btn-tallas-a">Tallas</p></a>-->
            <a href="/armario/usuario/{{id_usuario}}/categoria" id="categoria" class="apartado"><p id="btn-categoria-a">Categoria</p></a>
            <a href="/armario/usuario/{{id_usuario}}/subcategoria" id="subcategoria" class="apartado"><p id="btn-subcategoria-a">Subcategoria</p></a>
        </div>
    </div>

    <div id="consultas">
        <h1>Consultar</h1>
        <div id="apartados-consultas">
            <a href="/armario/usuario/{{id_usuario}}/disponibles" id="disponibles" class="apartado item-consulta"><i class="fa-solid fa-check"></i>Disponibles</a>
            <a href="/armario/usuario/{{id_usuario}}/reparacion" id="reparacion" class="apartado item-consulta"><i class="fa-solid fa-wrench"></i>Reparación</a>
            <a href="/armario/usuario/{{id_usuario}}/sucios" id="sucios" class="apartado item-consulta"><i class="fa-solid fa-trash"></i> Sucios</a>
            <a href="/armario/usuario/{{id_usuario}}/lavanderia" id="lavanderia" class="apartado item-consulta"><i class="fa-solid fa-water"></i>Lavanderia</a>
        </div>
    </div>


    <button id="btn-new"><i class="fa-solid fa-plus"></i></button>
    
</div>