<div id="armario">
    <!--<div id="menu">
        <ul>
            <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a></li><!--Here i have to change URL to deploy in Render
        </ul>
    </div>-->
    <header id="armario-header">
        <nav id="armario-nav">
            <button id="menu-bars"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main id="container-profile">
        <div id="profile-info">
            <div id="img-container">
                <div id="back-img"><img src="/img/negro-logo.png" alt="img-profile"></div>
            </div>
            <b>{{nombre_usuario}}</b>
            <p>{{correo}}</p>
        </div>
    </main>
    <div id="resumen-armario">
        <i class="fa-solid fa-circle-info icon-resumen"></i>
        <h1>Resumen</h1>
        <div class="info-resumen">
            <i class="fa-solid fa-shirt"></i> <div><b>Total de prendas: </b> <p>{{totalPrendas}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-check"></i> <div><b>Disponibles para alquilar: </b> <p>{{_disponibles}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-wrench"></i> <div><b>Reparación: </b> <p>{{_necesitaReparacion}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-trash"></i> <div><b>Sucios: </b> <p>{{_sucios}}</p></div>
        </div>
        <div class="info-resumen">
            <i class="fa-solid fa-water"></i> <div><b>Lavanderia: </b> <p>{{_lavanderia}}</p></div>
        </div>
    </div>

    <div id="registros">
        <h1>Registrar</h1>
        <div id="apartados">
            <div id="marca" class="apartado"><a href="#" id="btn-marca-a">Marca</a></div>
            <div id="tallas" class="apartado"><a href="#" id="btn-tallas-a">Tallas</a></div>
            <div id="categoria" class="apartado"><a href="#" id="btn-categoria-a">Categoria</a></div>
            <div id="subcategoria" class="apartado"><a href="#" id="btn-subcategoria-a">Subcategoria</a></div>
        </div>
    </div>

    <div id="consultas">
        <h1>Consultar</h1>
        <div id="apartados-consultas">
            <div id="disponibles" class="apartado item-consulta"><i class="fa-solid fa-check"></i>Disponibles</div>
            <div id="reparacion" class="apartado item-consulta"><i class="fa-solid fa-wrench"></i>Reparación</div>
            <div id="sucios" class="apartado item-consulta"><i class="fa-solid fa-trash"></i> Sucios</div>
            <div id="lavanderia" class="apartado item-consulta"><i class="fa-solid fa-water"></i>Lavanderia</div>
        </div>
    </div>


    <button id="btn-new"><i class="fa-solid fa-plus"></i></button>
    
</div>