<div id="reparacion-interfaz">
    <div id="navbar-nueva-prenda">
        <a href="/armario/usuario/{{id_usuario}}" class="amarillo-btn"><i class="fa-solid fa-arrow-right-long fa-rotate-180"></i> </a>
        <h1 id="txt-hero-reparacion">Prendas <span> En Reparación</span></h1>
    </div>

    {{#if success_signup}}
        <div id="message-success-consulta">
            <div id="container-message-success">
                <div id="img-message-success">
                    <img src="/img/feliz.png" alt="success">
                </div>
                <p>{{success_signup}}</p>
            </div>
        </div>
    {{/if}}

    <div id="hero-reparacion"></div>
    <div id="items-reparacion">
        <div id="icon-reparacion-items"><i class="fa-solid fa-wrench"></i></div>
        
        {{#each prendas}}
            <form action="/armario/usuario/{{id_usuario}}/reparacion/describiendo/{{id_prenda}}" method="post">
                <div class="item-reparacion">
                    <div id="image-reparacion-prenda" style="background-image: url('{{fotografia}}');"></div>
                    <div id="info-prenda">
                        <span id="codigo-portada"><i class="fa-solid fa-tag icon-label"></i><p id="bold-codigo"> {{codigo_prenda}}</p></span>
                        <span><p id="nombre-prenda">{{nombre}}</p></span>
                        {{#if tipo_reparacion}}
                            <span><p>{{tipo_reparacion}}</p></span>
                            <div id="buttons-item">
                                <!--<a href="/armario/usuario/{{id_usuario}}/reparacion/sucio/{{id_prenda}}" id="sucio-btn">Sucio</a>-->
                                <a href="/armario/usuario/{{id_usuario}}/reparacion/lavanderia/{{id_prenda}}" id="lavanderia-btn" itemid="1">Lavanderia</a>
                                <a href="/armario/usuario/{{id_usuario}}/reparacion/disponible/{{id_prenda}}" id="disponible-btn">Disponible</a>
                            </div>
                        {{else}}
                            <div id="detalle-reparacion"><input type="text" name="detalle" id="detalle-input"><button type="submit" id="btn-reg-rep">Listo</button></div>
                        {{/if}}
                    </div>
                </div>
            </form>
        {{else}}
            <div class="no-encontrado-img-container">
                <div id="img-no-enc">
                    <img src="/img/nada.png" alt="not founded">
                </div>
                <p>No Hay</p>
            </div>
        {{/each}}
    </div>
</div>